* { box-sizing: border-box; }
body{
padding: 0;
margin:0;
background-color: hsl(1, 0%, 25%);
font-family: Arial;
}

/*==Navigation bar==*/

nav{
  display: flex;
 justify-content : space-between;
align-items :center;
width : 100%;
 position: fixed;
 background: hsl(1, 0%, 20%);
 height: 80px;
 padding: 0 5%;
}

nav .logo a{
  font-size: 30px;
  padding-top: 0.5em;
  margin: 0;
  height: 100%;
  align-item: center;
  color: white;
  text-decoration: none;
}

 nav .menu{
  display: flex;   
  padding: 0;
  margin: 0;  
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

nav ul a{
  color: white;
  text-decoration: none;
}

nav .menu li{
  list-style: none;
}
nav ul li{
  position: relative;
}

nav .menu a{
  display: block;
  padding: 1em;
}

nav ul a:hover{
  background-color: red;
  z-index: 3;
}